*.user
.DS_Store
*.autosave
*/build-*/
build-*/
**Makefile
*.a
**moc_*.cpp
*.o
*.stash
initiallights_plugin_import.cpp
initiallights_qml_plugin_import.cpp
app/InitialLights.xcodeproj
Info.plist
*.pro.user.*
demos/demo-android-intents-camera/demo-android-intents-camera.xcodeproj
demos/demo-android-intents-photos/demo-android-intents-photos.xcodeproj
demos/demo-android-intents-timer/demo-android-intents-timer.xcodeproj
tests/tst_lightcontroller/tst_lightcontroller.xcodeproj
demos/demo-light-controllers/demo-light-controllers.xcodeproj
*_plugin_import.cpp
target_wrapper.sh
